*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
*{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: rgb(172, 41, 41);
}
.medsos ul li{
	display: inline-block;
	color: white;
}
.container{
	width: 80%;
	margin: 0 auto;
}

.container:after{
	content: '';
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0;
	color: rgb(172, 41, 41);
}
header ul{
	float: right;
}

header ul li{
	display: inline-block;
}

header ul li a {
	padding: 25px 20px;
	display: inline-block;
}

header ul li a:hover {
	 background-color: rgb(172, 41, 41);
	color: white;
}

.active{
	background-color: rgb(172, 41, 41);
	color: white;
}

.banner {
	height: 100vh;
	background-image: url('../img/eskrim.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(187, 68, 68, 0.4);
}

.banner h2{
	color: rgb(255, 255, 255);
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}

.gambar2 {
	height: 100vh;
	background-image: url('../img/kucing.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gambar2:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(50, 48, 56, 0.4);
}

.gambar2 h2{
	color: white;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}

.gambar3 {
	height: 100vh;
	background-image: url('../img/movie.png');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gambar3:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(37, 37, 41, 0.4);
}

.gambar3 h2{
	color: white;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}


section{
	padding: 50px 0;
}

section h3{
	text-align: center;
	padding: 20px 0;
	color: rgb(172, 41, 41);
	margin-bottom: 25px;
}

.about,
.service {
	padding-bottom: 100px;
}

.wrapper {
    display: flex;
	padding: 12vh;
}

.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 30px;
}

.service {
	background-color: #e9d6d6;
	width: 20;
}

.box {
	color: rgb(172, 41, 41);
}

.box:after {
	content: '';
	display: block;
}

.box .col-4 {
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	
}

.icon {
	width: 70%;
	height: 70px ;
	text-align: center;
	line-height: 70px;
	font-size: 50px;
	margin: 0 auto;
	cursor: pointer;
}

.box .col-4 h4 {
	margin: 10px;
}

footer {
	padding: 50px 0;
	background-color: black;
	color: #fff;
	text-align: center;
}

.label {
	background-color: rgb(172, 41, 41);
	color: white;
}

.gambar4 {
	height: 100vh;
	background-image: url('../img/milk.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gambar4:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(37, 37, 41, 0.4);
}

.gambar4 h2{
	color: white;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}



.gambar5 {
	height: 100vh;
	background-image: url('../img/warna.png');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gambar5:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(37, 37, 41, 0.4);
}

.gambar5 h2{
	color: white;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}


